body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0 5%;
}

nav {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

nav .nav-link {
  text-decoration: none;
  color: white;
}

nav .nav-items {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.logo {
  flex: 1;
  display: flex;
  height: 70px;
}
.brand-img {
  flex: 1;
  margin: auto;
  height: 80px;
}

.nav-logo {
  display: block;
}

.brand-img img {
  height: 80px;
}

.nav-button {
  background-color: #6ec72d;
  border: none;
  padding: 5px 40px;
  border-radius: 20px;
}

.comtainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 80vh;
}

.col {
  display: flex;
  flex: 0.5;
  min-height: 100%;
}
.col-2 {
  overflow: hidden;
}

.phone {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  display: transparent;
}

.col-1 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.col-1 p {
  font-size: 25px;
}

.col-1 h1 {
  font-size: 55px;
  margin: 20px 0;
}

.amazon-play {
  height: 80px;
}

@media screen and (max-width: 1320px) {
  .phone {
    height: 60%;
  }

  nav .nav-items {
    display: none;
  }
  nav .nav-menu-icon {
    display: block;
    margin: auto;
  }
  nav .nav-menu-icon i {
    color: white;
    font-size: 30px;
  }
}
