@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");

body {
  background-color: yellow;
}
.banner {
  font-size: 20px;
  /* display: block; */
  background-color: white;
}

img {
  padding: auto;
  margin: auto;
  display: block;
  height: 150px;
  width: 150px;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: #1f1f1f;
}

p {
  color: grey;
  text-align: right;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 400px;
  font-size: 30px;
  padding-bottom: 30px;
}

button {
  display: block;
  padding: auto;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-family: sans-serif;
  font-size: 20px;
}

button:hover {
  transition: margin-right 10s;
  background-color: rgb(123, 18, 221);
  color: white;
  /* box-shadow: rgb(18, 19, 17); */
}
